body {
    display: flex;
    margin: 0;
    background-color: #6f4f28;
    justify-content: center; /*Centra el contenido horizontalmente*/
    align-items: center;  /* Para centrar contenido verticalmente */
}

main{
    display: flex;
    flex-direction: column;  /*Organiza los elementos de main en una columna de manera vertical */
    align-items: center;  /* Centra los elementos horizontalmente dentro de main */
    background-color: aliceblue;
    margin: 2rem;
    padding: 2rem;
    width: 20rem;
    border-radius: 1rem; /*Para tener las esquinas más redondeadas*/
}

.titulo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #3e2723;  /*Pongo este color de letra porque el negro oscuro no se suele poner*/
    margin-bottom: 1rem; /* Añade un margen abajo del título para separarlo de los elementos siguientes */
    
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #b0bec5;
    width: 100%;
}

.formulario__input{
    display: flex;
    margin: 0.8rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
    width: 100%;
    border: #b0bec5;  /*Para que el borde de los inputs sea gris claro*/
    background-color: #ffffff;  /*Para que el fondo de los inputs sea blanco*/
    
}

.formulario__boton {
    display: flex;
    margin: 2rem;
    font-size: 1.2rem;
    background-color: #a7ccdc;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: black; 
}

.formulario__boton:hover {
    background-color: blue;
}

